<div class="page-container">
  <div class="section-container header">
    <div class="header-container">
      <div class="header-content">
        <div class="content-container">
          <span class="title">
            Modern Marketplace
          </span>
          <div class="property-search-container"> 
            <input class="property-search-input" placeholder="Wunsch Ort eingeben" [(ngModel)]="searchTerm"/> 
            <!--Search Reuslts-->
            <!--<div class="search-results-container">
              <div class="search-result-entry">search-result-entry</div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
