<div class="page-container">
  <div class="section-container header">
    <div class="header-container">
      <div class="header-content">
        <div class="left-side-container">
          <span class="subtitle">
            German mentorig
          </span>
          <span class="title">
            German Teacher
          </span>
          <div class="button-container">
            <button class="meet-me-button">
              <span>Meet me</span>
            </button>
            <button class="meet-me-button secondary">
              <span>Meet me</span>
            </button>

          </div>

        </div>
        <div class="right-side-container"></div>
      </div>
    </div>
  </div>
</div>
