.page-container {
  /*
  variable allway on the top so we have better overview of the colors
*/
  --color-header-background: #f7f6f3;
  --color-navigation-text-active: #9c380c;
  --color-navigation-button-background: #f7f6f3;
  --color-navigation-button-background-hover: #d7d7d7;
  --color-navigation-button-text: #fff;
  /*
  ------------------------------------------------------------
*/
  --color-navigation-secondary-button-background: #9c380c;
  --color-navigation-secondary-button-background-hover: #722809;
  /*
  ------------------------------------------------------------
*/
  --color-subtitle: #f7f6f3;
  --color-title: #f7f6f3;
  /*
  ------------------------------------------------------------
*/

  height: calc(100vh - 174px);
  width: 100%;
  display: flex;
  margin-top: 174px;
  cursor: pointer;



  & .section-container {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%),url("../../../assets/images/header-image.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    &.header {
      max-height: 630px;
      background-color: var(--color-header-background);
    }

    & .header-container {
      width: 100%;
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;


      & .header-content {
        display: flex;
        flex-flow: row;
        height: 100%;

        & .content-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: column;

          & .subtitle {
            color: var(--color-subtitle);
            font-size: 18px;
            margin-top: 16px;
            font-weight: 300;
          }

          & .title {
            color: var(--color-title);
            font-size: 63px;
            font-weight: 700;
            font-family: "Libre Baskerville";
          }

          & .property-search-container {
            display: flex;
            flex-flow: row;
            margin-top: 50px;
            width: 100%;
            display: flex;
            justify-content: center;

            & .property-search-input {
              background-color: var(--color-navigation-button-background);
              box-shadow: none;
              padding: 0.5em;
              border: 0;
              width: calc(100% - 64px);
              outline: none;
              height: 45px;
              max-width: 660px;

              &:hover {
                background-color: var(--color-navigation-button-background-hover);
              }
            }
          }
        }
      }
    }
  }
}
