
<div class="top-nav-content">

  <div class="logo-container">
    <div class="logo-name"> Immo Market <span class="logo-sub-name"> Home is a feeling</span> </div>
  </div>

  <div class="navigation-menu-container">
    <ng-container *ngFor="let entry of navigationEntries">
      <span class="navigation-entry"
            [routerLink]="entry.navigationLink.toString()"
            routerLinkActive="active">
        {{entry.title}}
      </span>
    </ng-container>

    <button *ngIf="isOffersComponent() && isAdmin" (click)="createOffer()" class="meet-me-button secondary">
      <span>Create offer</span>
    </button>

    <button *ngIf="isOffersComponent()" (click)="changeUserStatus()" class="meet-me-button">
      <span>{{userStatus}} view</span>
    </button>
  </div>
</div>
