<div class="page-container" (click)="close()">
  <div class="container">
    <ng-container *ngFor="let property of propertiesNew">
      <div class="box" *ngIf="property.isActive || isAdmin" (click)="openProperty(property.id)">
        <div class="top">
          <img src="https://www.engelvoelkers.com/images/2738b482-b0d6-4e1f-b4de-0500a5f9e8df/sonnige-maisonette-wohnung-mit-tiefgaragenstellplatz-3-obergeschoss" alt="" />
          <span>
            <i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i>
          </span>
        </div>
        <div class="bottom">
          <h3>{{property.mainTitle}}</h3>
          <p>
            {{property.description}}
          </p>
          <div class="advants">
            <div>
              <span class="material-icons">
                king_bed
              </span>
              <div><i class="fas fa-th-large"></i><span>{{property.bedrooms}}</span></div>
            </div>
            <div>
              <span class="material-icons">
                shower
              </span>
              <div><i class="fas fa-shower"></i><span>{{property.bathrooms}}</span></div>
            </div>
            <div>
              <span class="material-icons">
                location_on
              </span>
              <div>
                <i class="fas fa-vector-square"></i><span>{{property.city}}</span>
              </div>
            </div>
          </div>
          <div class="price">
            <span>For Sale</span>
            <p *ngIf="property.hasDiscount" class="discounted-price" style="text-align:left">
              {{property.sellPrice | currency: 'EUR'}}
              <span style="text-align: right; float: right; margin-left: 100px"> {{property.discountPrice | currency:'EUR'}}
            </span>
            </p>
            <span *ngIf="!property.hasDiscount">{{property.sellPrice | currency:'EUR'}}</span>
          </div>
        </div>
        <div *ngIf="isAdmin" class="delete-btn" (click)="$event.stopPropagation(); deletePropery(property.id ?? 0)">
          <span>-</span>
        </div>

        <div *ngIf="isAdmin" class="edit-btn" (click)="$event.stopPropagation(); enableEditMode(property.id ?? 0)">
          <span>-</span>
        </div>
      </div>
    </ng-container>
  </div>

  <lib-details-view [id]="propId" [id]="propId" [title]="detailsTitle" [dialogType]="dialogType" *ngIf="showCreateDialog"></lib-details-view>

</div>
