<div class="page-container" (click)="close()">
  <div class="container">
    <ng-container *ngFor="let property of propertiesNew">
      <div class="box" *ngIf="property.isActive || isAdmin" (click)="openProperty(property.id)">
        <div class="top">
          <img src="{{demoImage}}" alt="" />
        </div>
        <div class="bottom">
          <h3>{{property.mainTitle}}</h3>
          <p>
            {{property.description}}
          </p>
          <div class="advants">
            <div>
              <span class="material-icons">
                king_bed
              </span>
              <div><i class="fas fa-th-large"></i><span>{{property.bedrooms}}</span></div>
            </div>
            <div>
              <span class="material-icons">
                shower
              </span>
              <div><i class="fas fa-shower"></i><span>{{property.bathrooms}}</span></div>
            </div>
            <div>
              <span class="material-icons">
                location_on
              </span>
              <div>
                <i class="fas fa-vector-square"></i><span>{{property.city}}</span>
              </div>
            </div>
          </div>
          <div class="price">
            <span>For Sale</span>
            <span>{{property.sellPrice}} €</span>
          </div>
        </div>
        <div *ngIf="isAdmin" class="delete-btn" (click)="$event.stopPropagation(); deletePropery(property.id ?? 0)">
          <span>-</span>
        </div>
      </div>
    </ng-container>
  </div>

  <lib-details-view [id]="propId" [id]="propId" [title]="detailsTitle" [dialogType]="dialogType" *ngIf="showCreateDialog"></lib-details-view>

</div>
